@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ls{
    background: linear-gradient(135deg, #11998e, #38ef7d);
    color: white;
    height: 100vh;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.ls-top{
    padding: 20px;
}
.ls-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ls-nav .logo{
    max-width: 140px;
}
.ls-nav .menu img{
    max-height: 20px;
    opacity: 1;
    cursor: pointer;
}
.ls-search{
    border-radius: 25px 25px 25px 25px;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;
    color: black;
}
.ls-search img{
    width: 16px;
    color: black;
}
.ls-search input{
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 11px;
}
.ls-search input::placeholder{
    color: #c8c8c8;
}
.ls-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}
.friends img{
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.friends{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}
.friends div{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    /*  */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.friends span{
    color: white;
    font-size: 11px;
}
.friends:hover{
    border: 1px solid white;
    border-radius: 10px;
}
/* .friends:hover span{
    color: white;
} */
.ls-nav .menu{
    position: relative;
    padding: 10px 0px;
}
.menu{
    color: white;
}
.menu .sub-menu{
    position: absolute;
    top: 15px;
    right: 0;
    width: 130px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
    display: none;
    border: 1px solid black;
}

.sub-menu hr{
    border: none;
    height: 1px;
    background: #a4a4a4;
    margin: 8px 0px;
}
.sub-menu p{
    cursor: pointer;
    font-size: 14px;
}
.menu:hover .sub-menu{
    display: block;
}
.friends.border img{
    border: 2px solid white;
}
.friends.border div span{
    color: white;
}
/**/
.friends.border div span:hover{
    color: white;
}
